/* .digital-clock{
    width: 500px;
    height: 100px;
    
    
}
.timer-display{
    width: 500px;
    height: 30vh;
    font-size: 100px;
    color:blueviolet;
    
} */
body {
    background: linear-gradient(45deg, #1ff1a7, #f196d1 );
   
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#131212;
    font-size: 160px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    border: #131212;
}
.container{
    font-size: 100px;
    text-align: center;
   color: aliceblue;
   font-style: italic;
   border: #131212;
}